name: Сборка релиза

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Source (Vite)
        run: npm run build

      - name: Determine Release Type
        id: release_type
        shell: bash
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "Current tag: $TAG_NAME"

          if [[ "$TAG_NAME" == *"-"* ]]; then
            echo "Detected prerelease tag. Setting mode to DRAFT."
            echo "TYPE=prerelease" >> $GITHUB_ENV
          else
            echo "Detected stable tag. Setting mode to RELEASE."
            echo "TYPE=release" >> $GITHUB_ENV
          fi

      - name: Build & Release Electron App
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EP_PRE_RELEASE: ${{ env.TYPE == 'prerelease' }}
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            ARGS="--linux"
          elif [ "$RUNNER_OS" == "Windows" ]; then
            ARGS="--win"
          elif [ "$RUNNER_OS" == "macOS" ]; then
            ARGS="--mac"
          fi

          npx electron-builder --config electron-builder.yml --publish always $ARGS
  update-release-text:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Генерация журнала изменений релиза
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
